img{
    object-fit: contain;
    width: 2vw;
    height: 2vh;
    display: inline-block;
}

.top-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3vh;
}

.top-header div h1{
    color: #0b0a0a;
    font-weight: 700;
    font-size: 1.5vw;
}

.add-button{
    background-color: #14C9C9;
    padding: 8% ;
    border-radius:5px;
    font-weight: 500; 
    font-size: 0.9vw;
    width: 7vw;
}

.add-button:hover{
    background-color: #0b0a0a;
    color: #f2f2f5 ;
    transform: scale(0.9);
    transition: all ease-in-out 0.4s;
}