.contenedorHeader{
    
    display: flex;
        padding-left: 3%;

}

.titulo{
    color: #0b0a0a;
    font-weight: 700;
    font-size: 1.5vw;
}

.add-buttonUno{
    background-color: #14C9C9;
    border-radius:5px;
    font-weight: 500; 
    font-size: 0.9vw;
    width: 10vw;
    height: 5vh;
    margin-left: auto;
    text-align: center;
    margin-right: 10px;
    
}

/* background-color: #14C9C9;
padding: 8% ;
border-radius:5px;
font-weight: 500; 
font-size: 0.9vw;
width: 7vw; */

.add-buttonDos{
    background-color: #14C9C9;
    border-radius:5px;
    font-weight: 500; 
    font-size: 0.9vw;
    width: 170px;
    height: 30px;
    text-align: center;
    
}

.add-buttonUno:hover{ 
    background-color: #0b0a0a;
    color: #f2f2f5 ;
}


.containerinput{
    margin-top: 2vh;
    display: flex;
    width: 8vw;
    flex-direction: row;
    padding-left: 3%;
}


.containerinputDos{
    
    margin-left: 5vw;
}

.inputscontainer{
    margin-top: 30px;
}

.form-label{
    display: block;
    margin-bottom: 10px;
}


.form-input{
    border-radius: 9px;
    width: 30vw;
    border: none;
    font-size: small;
}

.form-select{
    border-radius: 9px;
    width: 300px;
    box-shadow: 0px 4px 8px #999;
    border: none;
    font-size: small;
}

#file-upload-button{
    background: #6749e2 !important;
}

#select-file{
    border-radius: 20px;
    background-color: #14C9C9;
    background: white !important;
}

.image-preview{
    border-radius: 10px;
    width: auto;
    height:200px;
    margin: auto;
}

.helper-text{
    color: #5f5f5f;
    font-weight: 100;
    font-size: 1.5vh;
    padding: 2%;
}

.error-message{
    margin-top: 3vh;
    width: 83%;
    margin-left: 2vw;

}


