.container-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 60vh;
}

.title-home{
    color: #0b0a0a;
    font-weight: 700;
    font-size: 3.5vw;
}

.image-home{
    object-fit:contain;
    width: 400px;
    height: 400px;
}