body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
}

#root{
    min-height: 100vh;
}
.layout{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: "Plus Jakarta Sans", sans-serif;
}

h1{
    color:#f2f2f5;
}

.dashboard{
    background-color: #0b0a0a;
    flex: 1.8 1.8;
    padding: 0 0% 8vh 0%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 100%;
}

.container{
    position: sticky;
    top: 0;
    padding-top: 10%;
}

.title{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
}

.title h1{
    font-weight: 900;
    margin-bottom: 0.8vh;
}

.title img{   
    margin: auto;
    margin-bottom: 2vh;
    width: 5.5vw;
    height: 5.5vh;
    object-fit: contain;
}

.menu{
    color:#a9a9aa;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: 600;
}

hr{
    width: 70%;
    margin: auto;
    border-top: 1px solid rgba(55, 55, 56, 0.648);
    margin-bottom: 2vh;

}

li{
    list-style: none;
}

.menu ul {  
    list-style-type: none;
    padding: 5%;
    border-radius: 10px;
    margin-bottom: 1vh;
    cursor: pointer;
}

.menu ul:hover{
    background-color:#6749e2;
    color: #f2f2f5;
}

.menu ul .item{
    padding-left: 5%;
    font-size: 0.7vw;
}

.logout{
    color: rgb(157, 164, 174);
    align-self: center;
    justify-self: flex-end ;
    display: grid;
}

.content{
    flex: 8.8 8.8;
    background-color: #f2f2f5; 
    height: auto;
}

.top-bar{
    height: 5vh;
    background-color: #fffefe;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    cursor: pointer;
}
.user{

}

.profile{
    object-fit: contain;
    width: 3vw;
    height: 3vh;
}

.render-body{
    padding: 2%;
    height: auto;
}

